<div id="wrapper">
  <!-- Navigation -->
  <adminmenu></adminmenu>

  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" id="main" >
        <div class="col-sm-12 col-md-12 well" id="content">
          <h1>Add new type category</h1>
        </div>
      </div>
      <div class="row" id="main" >
        <div class="col-sm-12 col-md-12 well" id="content">
          <form name="form" ng-submit="catlist.createTypeCategory(form)" enctype="multipart/form-data" novalidate>
            <div class="form-group" ng-show="catlist.category._id">
              <label for="id">Type Category Id</label>
              <span><strong>{{catlist.category._id}}</strong></span>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.name.$valid && catlist.submitted,
            'has-error': form.name.$invalid && catlist.submitted }" >
            <label for="name">Type Category Name</label>
            <input name="name" ng-model="catlist.category.name" class="form-control" placeholder="Enter Type Category Name" type="text" required/>
            <p class="help-block" ng-show="form.name.$error.required && catlist.submitted">
              A name is required
            </p>
          </div>
        <div class="form-group" ng-class="{ 'has-success': form.ischildof.$valid && catlist.submitted,
          'has-error': form.ischildof.$invalid && catlist.submitted }">
          <label for="ischildof">Item Sub Category Name Of</label>
          <select name="ischildof" ng-model="catlist.category.ischildof" class="form-control"
          ng-options="option.name group by option.ischildof.name+'<-'+option.ischildof.ischildof.name+'<-'+option.ischildof.ischildof.ischildof.name for option in catlist.listitemsubcats track by option._id"
           required>
         </select>
          <p class="help-block" ng-show="form.ischildof.$error.required && catlist.submitted">
            A sort number is required
          </p>
        </div>
          <div class="form-group" ng-class="{ 'has-success': form.sort.$valid && catlist.submitted,
          'has-error': form.sort.$invalid && catlist.submitted }" >
          <label for="sort">Order</label>
          <input name="sort" placeholder="Enter Order" ng-model="catlist.category.sort" class="form-control" type="number" required/>
          <p class="help-block" ng-show="form.sort.$error.required && catlist.submitted">
            A sort number is required
          </p>
        </div>
        <div class="form-group">
          <!-- <div class="btn-group">
            <label class="btn btn-primary" ng-model="catlist.category.active" uib-btn-checkbox>Is Active</label>
          </div> -->
          <div class="">
            <input type="checkbox" style="float:left; margin-right:10px;" ng-model="catlist.category.active" />
            <label  for="active"><span>Is Active</span></label>
          </div>
          <div uib-alert class="alert alert-success" ng-show="catlist.category.active" >The category will be active on catelogue.</div>
        </div>

        <div uib-alert class="alert alert-success" ng-show="catlist.rootcatMessage" > {{ catlist.rootcatMessage }} </div>
        <br/>
        <button type="submit" class="btn btn-sm btn-success">
          Save
        </button>
        <buttton ng-click="catlist.goto('typecategorylist')" type="button" class="btn btn-sm btn-info" >
         Cancel
        </buttton>
        <button ng-if="catlist.category._id" ng-click="catlist.deleteCategory(catlist.category,'typecategorylist')" type="button" class="btn btn-sm btn-danger">
          Delete
        </button>

      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div><!-- /#wrapper -->
