<div id="wrapper">
  <!-- Navigation -->
  <adminmenu></adminmenu>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" id="main" >
        <div class="col-sm-12 col-md-12 well" id="content">
          <h1>Add Images to {{sku.newSku.itemname}} ({{sku.newSku._id}})</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 well">
          <div class="col-md-3" ng-repeat="imgs in sku.newSku.images track by $index">
            <a ng-click="sku.removeImage($index)" style="position:absolute;top:0px;right:15px;background-color:#ccc;"><i class="fa fa-fw fa-times"></i><span></span></a>
          <!--  <a  class="btn btn-info" ng-click="sku.openModal()"  style="position:absolute;bottom:10px;left:50%;background-color:#ccc;"><i class="fa fa-fw fa-search"></i><span></span></a>-->
            <img width="100%" height="auto" ng-src={{imgs.logs.s_219}} />
          </div>
        </div>
      </div>
      <div class="row" id="main" >
        <div class="col-sm-12 col-md-12 well" id="content">
          <form name="form" class="" ng-submit="sku.addImages(form)"  enctype="multipart/form-data" novalidate>
          <div class="col-md-12">
            <label for="images">Select One Image :</label>
              <input type="file" ngf-select ng-model="sku.newSku.file" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" />
          </div>
          <div class="form-group col-md-12">
            <hr/>
            <div class="col-md-6">
              <button class="btn btn-success"><i class="fa fa-fw fa-save"></i><span> Upload & Save</span></button>
              <a ui-sref="skulist" class="btn btn-warning"><i class="fa fa-fw fa-undo"></i><span> Back </span></a>
            </div>
          </div>
  </form>
</div>

</div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div><!-- /#wrapper -->
