<div id="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <h2>Dorbby</h2>
                <ul class="discover triangle hover row">
                  <li><a href="/aboutus">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Press Release</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-2">
                <h2>Our Policies</h2>
                <ul class="discover triangle hover row">
                  <li><a href="#">Shipping and Delivery</a></li>
                  <li><a href="#">Cancellations and Returns</a></li>
                  <li><a href="#">Ordering and Tracking</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="#">Security</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-4">
                <h2>Mailing List</h2>
                <p>Sign up for our mailing list to get latest updates and offers.</p>
                <br>
                <div class="icon-check">
                  <input class="input-text full-width" placeholder="your email" type="text">
                </div>
                <br>
                <span>We respect your privacy</span>
                <address class="contact-details">
                <span class="contact-phone"><i class="soap-icon-phone"></i>120-4138500</span><br>
                <a href="#" class="contact-email">care@dorbby.com</a>
                </address>
              </div>
              <div class="col-sm-6 col-md-4">
                <h2>KEEP IN TOUCH</h2>
                <ul class="social-icons clearfix" style="margin-bottom: 20px;">
                    <li class="whatsapp"><a target="_blank" data-toggle="tooltip" title="" href="#" data-original-title="Facebook"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li class="facebook"><a target="_blank" data-toggle="tooltip" title="" href="#" data-original-title="Facebook"><i class="soap-icon-facebook"></i></a></li>
                    <li class="twitter"><a target="_blank" data-toggle="tooltip" title="" href="#" data-original-title="Twitter"><i class="soap-icon-twitter"></i></a></li>
                    <li class="instagram"><a id="lnkinstagram" target="_blank" data-toggle="tooltip" title="" href="#" data-original-title="instagram"><i class="soap-icon-instagram"></i></a></li>
                    <li class="pinterest"><a id="lnkyoutube" target="_blank" data-toggle="tooltip" title="" href="#" data-original-title="Pinterest"><i class="soap-icon-pinterest"></i></a></li>
                    <li class="youtube"><a id="lnkyoutube" target="_blank" data-toggle="tooltip" title="" data-original-title="youtube"><i class="soap-icon-youtube"></i></a></li>
                    <li class="linkedin hidden"><a id="FooterControl1_lnklinkedin" data-toggle="tooltip" title="" target="_blank" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                    <li class="vimeo hidden"><a id="FooterControl1_lnkvimeo" data-toggle="tooltip" title="" target="_blank" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                    <li class="dribble hidden"><a id="FooterControl1_lnkdribble" data-toggle="tooltip" title="" target="_blank" data-original-title="dribble"><i class="soap-icon-dribble"></i></a></li>
                    <li class="flickr hidden"><a id="FooterControl1_lnkflickr" data-toggle="tooltip" title="" target="_blank" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                </ul>
                <h2>Courier Partner</h2>
                <a href="#"><img src="/assets/images/blue-dart.png" alt="" /></a>
              </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
          <div class="margin-top-20">
            <div class="margin-bottom-10"><b>Top Brands</b></div>
            <div class="brands"><a href="#">JV</a>/<a href="#">Girlslook</a>/<a href="#">Just Wow</a>/<a href="#">Klamotten</a>/<a href="#">Fasense</a>/<a href="#">D And J INTERNATIONAL</a>/<a href="#">Khantil</a>/<a href="#">Homedeal</a>/<a href="#">Angle</a>/<a href="#">Kavya Fashion</a>/<a href="#">HAANME</a>/<a href="#">AAR VEE</a>/<a href="#">Jewellary</a>/<a href="#">CAT</a>/<a href="#">Tops</a>/<a href="#">Shirts</a>/<a href="#">Jackets</a>/<a href="#">Kurtis</a>/<a href="#">fdhdf</a>/<a href="#">Tunic</a>/<a href="#">Dresses</a>/<a href="#">Watches</a>/<a href="#">Jeans</a></div>
            <div class="margin-top-20">
              <div class="margin-bottom-10"><b>TOP CATEGORIES</b></div>
              <a href="#">Bags</a>/<a href="#">Accessories</a>/<a href="#">Beauty</a>/<a href="#">Sports</a>/<a href="#">Jewellery</a>/<a href="#">Ethnic Wear</a>/<a href="#">Women Clothing</a>/<a href="#">Women Shoes</a>/<a href="#">Accessories</a>/<a href="#">FormalWear</a>/<a href="#">Jewellary</a></div>
          </div>
          <div class="margin-top-20">
            <div><b>Payment Method</b></div>
            <img src="/assets/images/payment-icon.png"></div>
        </div>
    </div>
    <div class="bottom gray-area">
      <div class="container">
        <div class="copyright text-center">
          <p>Copyright &copy;2017 Dorbby.com.All Rights Reserved.</p>
        </div>
      </div>
    </div>
</div>
<a id="back-to-top" href="#" class="animated" data-animation-type="bounce">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
    <span>TOP</span>
</a>
