<div id="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <h2>Dorbby</h2>
                <ul class="discover triangle hover row">
                  <li><a ui-sref="aboutus">About Us</a></li>
                  <li><a ui-sref="contactus">Contact Us</a></li>
                  <li><a ui-sref="faqs">FAQs</a></li>
                  <li><a ui-sref="career">Career</a></li>
                  <li><a ui-sref="pressrelease">Press Release</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-2">
                <h2>Our Policies</h2>
                <ul class="discover triangle hover row">
                  <li><a ui-sref="shippingpolicy">Shipping and Delivery</a></li>
                  <li><a ui-sref="cancellationpolicy">Cancellations and Returns</a></li>
                  <li><a ui-sref="orderingandtracking">Ordering and Tracking</a></li>
                  <li><a ui-sref="termsandcondition">Terms and Conditions</a></li>
                  <li><a ui-sref="security">Security</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-4">
                <h2>Mailing List</h2>
                <p>Sign up for our mailing list to get latest updates and offers.</p>
                <br>
                <div class="icon-check">
                  <input class="input-text full-width" placeholder="your email" type="text">
                </div>
                <br>
                <span>We respect your privacy</span>
                <address class="contact-details">
                <span class="contact-phone"><i class="soap-icon-phone"></i>120-4138500</span><br>
                <a href="#" class="contact-email">care@dorbby.com</a>
                </address>
              </div>
              <div class="col-sm-6 col-md-4">
                <h2>KEEP IN TOUCH</h2>
                <ul class="social-icons clearfix" style="margin-bottom: 20px;">
                    <li class="whatsapp"><a target="_blank" data-toggle="tooltip" title="" href="#" data-original-title="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </li>
                    <li class="facebook"><a target="_blank" data-toggle="tooltip" title="" href="https://www.facebook.com/Dorbby/" data-original-title="Facebook"><i class="soap-icon-facebook"></i></a>
                    </li>
                    <li class="twitter"><a target="_blank" data-toggle="tooltip" title="" href="https://twitter.com/dorbby" data-original-title="Twitter"><i class="soap-icon-twitter"></i></a>
                    </li>
                    <li class="linkedin"><a id="FooterControl1_lnklinkedin" data-toggle="tooltip" title="" target="_blank" href="https://www.linkedin.com/in/dorbby-online-shopping-295704152/" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>

                    <li class="instagram"><a id="lnkinstagram" target="_blank" data-toggle="tooltip" title="" href="https://www.instagram.com/dorbbyindia/?hl=en" data-original-title="instagram"><i class="soap-icon-instagram"></i></a></li>
                    <li class="pinterest">
                    <a id="lnkpintrest" target="_blank" data-toggle="tooltip" title="Pintrest Dorbby" href="https://in.pinterest.com/dorbbyindia/" data-original-title="Pinterest"><i class="soap-icon-pinterest"></i></a>
                    </li>
                    <li class="youtube"><a id="lnkyoutube" target="_blank" data-toggle="tooltip" title="" data-original-title="youtube" href="#"><i class="soap-icon-youtube"></i></a></li>

                    <li class="vimeo hidden"><a id="FooterControl1_lnkvimeo" data-toggle="tooltip" title="" target="_blank" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                    <li class="dribble hidden"><a id="FooterControl1_lnkdribble" data-toggle="tooltip" title="" target="_blank" data-original-title="dribble"><i class="soap-icon-dribble"></i></a></li>
                    <li class="flickr hidden"><a id="FooterControl1_lnkflickr" data-toggle="tooltip" title="" target="_blank" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                </ul>
                <h2>Courier Partner</h2>
                <a href="#"><img src="/assets/images/blue-dart.png" alt="" /></a>
              </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
          <div class="margin-top-20">
            <div class="margin-bottom-10"><b>Top Brands</b></div>
            <div class="brands"><a href="#">JV</a>/<a href="#">Girlslook</a>/<a href="#">Just Wow</a>/<a href="#">Klamotten</a>/<a href="#">Fasense</a>/<a href="#">D And J INTERNATIONAL</a>/<a href="#">Khantil</a>/<a href="#">Homedeal</a>/<a href="#">Angle</a>/<a href="#">Kavya Fashion</a>/<a href="#">HAANME</a>/<a href="#">AAR VEE</a>/<a href="#">Jewellary</a>/<a href="#">CAT</a>/<a href="#">Tops</a>/<a href="#">Shirts</a>/<a href="#">Jackets</a>/<a href="#">Kurtis</a>/<a href="#">fdhdf</a>/<a href="#">Tunic</a>/<a href="#">Dresses</a>/<a href="#">Watches</a>/<a href="#">Jeans</a></div>
            <div class="margin-top-20">
              <div class="margin-bottom-10"><b>Top Categories</b></div>
              <div class="top-cat">
              <a href="#">Bags</a>/<a href="#">Accessories</a>/<a href="#">Beauty</a>/<a href="#">Sports</a>/<a href="#">Jewellery</a>/<a href="#">Ethnic Wear</a>/<a href="#">Women Clothing</a>/<a href="#">Women Shoes</a>/<a href="#">Accessories</a>/<a href="#">FormalWear</a>/<a href="#">Jewellary</a></div>
          </div>
          <div class="hr-line"></div>
          <div class="a-container">
            <div class="a-heading">Online shopping in India at its best with Dorbby !</div>
            <div class="a-content">
            It's no longer just the privilege of a metro city or an urban area to use online for shopping of their desired products. Dorbby is such an online shopping platform that has made it possible for consumers even in the remote areas of India to acquire items from the best manufacturers at affordable costs online. Considering the present way of life of people, it&#39;s no surprise that they prefer to use the internet most of the items that they need on a regular basis like clothes for people, electronic devices, cell phones, appliances for the house, items for personal beauty and care, and like this. The ultimate convenience of having to simply browse through their preferred online shopping website and place an order from the comfort of their house, and get it provided in the quickest time possible at their front door is a service that is irresistible.
            </div>
            <div class="a-heading">Dorbby: Your online fashion destination !</div>
            <div class="a-content">
              The leader in online shopping for fashion has imprinted its mark throughout India. With an aim to change the fashion arena in India, Dorbby has everything to offer, ranging from all kinds of men’s and women’s clothing to accessories. Presenting some of the best deals with the realm of fashion accessories and popular equipment, you may get attractive discounts and shop till you drop at end of the season sales.
            </div>
            <div class="a-heading">Shop online for the best deals & offers !</div>
            <div class="a-content">
              When you find that your preferred outfits, like a nice clothing, denim, a pair of pants or t-shirt from, say, most of the top brands are online at very affordable costs under some great offers, nothing could stop you from owning one. Online fashion shopping has become so much more comfortable and affordable with the plethora of deals and offers we bring forth on a regular basis. Exciting both women and men alike, offers and deals do rounds on Dorbby not only with clothes, footwear but also many more things to get. There is something for everyone and that too from the most sought- after manufacturers like Miway, Chiktones, Saadgi, Style Gravity, Texco, Shakunbhari,Colbrii, N-Gal, Queens and so on.
            </div>
            <div class="a-heading">A complete customer satisfaction !</div>
            <div class="a-content">
              To Dorbby, a complete satisfied online shopping for every Indian, from a massive collection to pick from, at wonderful costs to fit into your budget, you select your box of pleasure which will be sent to you by us no matter how distant you are.
            </div>
          </div>


          <div class="margin-top-20">
            <div><b>Payment Method</b></div>
            <img src="/assets/images/payment-icon.jpg">
          </div>
        </div>
    </div>
    <div class="bottom gray-area">
      <div class="container">
        <div class="copyright text-center">
          <p>Copyright &copy;2017 Dorbby.com All Rights Reserved.</p>
        </div>
      </div>
    </div>
</div>
<a id="back-to-top" href="#" class="animated" data-animation-type="bounce">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
    <span>TOP</span>
</a>
