@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-social/bootstrap-social.css';
/**
 * Bootstrap Fonts
 */
 @font-face {
   font-family: 'NexaBlack';
   src: url("/assets/fonts/NexaBlack.eot?") format("eot"),
   url("/assets/fonts/NexaBlack.otf") format("opentype"),
   url("/assets/fonts/NexaBlack.woff") format("woff"),
   url("/assets/fonts/NexaBlack.ttf") format("truetype"),
   url("/assets/fonts/NexaBlack.svg#NexaBlack") format("svg");
 }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import '~font-awesome/css/font-awesome.css';

/**
 *Font Awesome Fonts
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.1.0');
  src: url('/assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('/assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'soap-icons';
  src: url("/assets/fonts/soap-icons.eot?26664784");
  src: url("/assets/fonts/soap-icons.eot?26664784#iefix") format("embedded-opentype"),
  url("/assets/fonts/soap-icons.woff?26664784") format("woff"),
  url("/assets/fonts/soap-icons.ttf?26664784") format("truetype"),
  url("/assets/fonts/soap-icons.svg?26664784#soap-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Component styles are injected through gulp */
/* inject:css */
@import 'admin/admin.css';
@import 'category/category.css';
@import 'css/animate.min.css';
@import 'css/category.css';
@import 'css/jquery.classycountdown.min.css';
@import 'css/jquery.countdown.css';
@import 'css/jssocials-theme-flat.css';
@import 'css/jssocials.css';
@import 'css/login.css';
@import 'css/main.css';
@import 'css/media.css';
@import 'css/navbar.css';
@import 'css/oquickview-style.css';
@import 'css/owl.carousel.css';
@import 'css/payment.css';
@import 'css/style.css';
@import 'css/thumbelina.css';
@import 'main/main.css';
@import '../components/footer/footer.css';
@import '../components/modal/modal.css';
@import '../components/oauth-buttons/oauth-buttons.css';
/* endinject */
