<!-- top nav beings -->


<header id="header" class="navbar-inverse navbar-static-top">
<div class="topnav hidden-xs">
    <div class="container">
        <ul class="quick-menu pull-left">
          <li><a href="#">Become a seller</a></li>
          <li class="ribbon currency"><a href="#">Customer care</a>
            <ul class="menu mini">
              <li class="active"><a title="Email Id">care@dorbby.com</a></li>
              <li class="active"><a title="Email Id"><i class="soap-icon-phone"></i>120-4138500</a></li>
              <li class="active"><a title="Email Id"><i class="soap-icon-phone"></i>+91-844-7304-279</a></li>
            </ul>
          </li>
          <li class="ribbon currency"><a href="#">Track your order</a>
            <ul class="menu mini">
              <li class="active"><a target="_blank" href="http://shipway.in/delhivery" title="Track Your Order" >Delhivery </a></li>
            </ul>
          </li>
        </ul>
        <div class="quik-search pull-left">
          <div class="with-icon full-width">
            <input class="input-text full-width" placeholder="Search for your favorite brand, product or category...." type="text" />
            <input value="" class="icon fa fa-search" type="submit" />
          </div>
        </div>
        <ul class="quick-menu pull-right">
            <li class="ribbon currency" ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
              <a href="#">Hi, {{ $ctrl.getCurrentUser().name}}<span class="caret"></span></a>
              <ul class="menu mini left">
                  <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="settings">change password</a></li>
                  <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
              </ul>
            </li>
            <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active" ><a ui-sref="login">LOGIN</a></li>
            <li ng-hide="$ctrl.isLoggedIn()" class=""><a ui-sref="signup">SIGNUP</a></li>

            <li class="ribbon currency hide-caret"> <a href="#" title="">
              <span class="cart-quantity"><span style="font-size:12px;font-weight:bold;">0</span>
              </span> <i class="fa fa-shopping-cart"></i> </a>
                <ul class="menu mini left">
                    <li class="active"><a href="#" title="BRL">Shopping Cart</a></li>
                </ul>
            </li>
            <li><a href="" title="Mini Wallet">Mini &nbsp;<span><img src="/assets/images/icon/wallet-icon.png" alt="" /></span></a></li>
            <li><a href="" title="Microw Wallet">Microw &nbsp;<span><img src="/assets/images/icon/wallet-icon.png" alt="" /></span></a></li>
        </ul>
    </div>
</div>
</header>
<!-- top nav ends -->
<!--<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="logo navbar-brand"><img src="/assets/images/logo.png" /></a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>

        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active">
          <a ui-sref="admin">Admin</a>
            <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">One</button>
                <button class="dropdown-item">Two</button>
                <button class="dropdown-item">Four!</button>
              </div
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
-->
