<div id="content">
  <section id="category" class="container-fluid">
    <div class="row">
      <ol  ng-if="category.menu.isparent" class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">{{category.menu.name}}</li>
      </ol>
      <ol  ng-if="category.menu.issubcat" class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"> <a ui-sref="category({catename:'{{category.menu.ischildof.slug}}'})"> {{category.menu.ischildof.name}} </a>
        </li>
        <li class="breadcrumb-item active">{{category.menu.name}}</li>
      </ol>
      <ol  ng-if="category.menu.isitemcat" class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a ui-sref="category({catename:'{{category.menu.ischildof.ischildof.slug}}'})"> {{category.menu.ischildof.name}}</a>
        </li>
        <li class="breadcrumb-item"><a ui-sref="subcates({catename:'{{category.menu.ischildof.ischildof.slug}}', subcates:'{{category.menu.ischildof.slug}}'})"> {{category.menu.ischildof.name}}</a>
        </li>
        <li class="breadcrumb-item active">{{category.menu.name}}</li>
      </ol>
    </div>
    <div class="row relative">
        <div id="sidebar" class="left-cat col-lg-2 col-md-2 col-sm-3 hidden-xs" >
            <h4 class="search-results-title"><b>Browse</b></h4>
            <div class="toggle-container filters-container">
                <div class="panel style1 arrow-right">
                    <h4 class="panel-title"><a data-toggle="collapse" href="#flight-category-filter" class="">Category</a></h4>
                    <div id="flight-category-filter" class="panel-collapse collapsed in">
                        <div class="panel-content"><a class="category-head"><span id="ContentPlaceHolder1_lblCategoryName">{{category.menu.name}}</span></a>
                            <table id="ContentPlaceHolder1_SubCategory_Filter" cellspacing="0" style="border-collapse:collapse;">
                            <tr ng-if="category.menu.isparent" ng-repeat="item in category.menu.childs">
                              <td><div>
                              <label><a ui-sref="subcates({catename:'{{category.menu.slug}}',subcates:'{{item.slug}}'})">{{item.name}} ({{item.productcount}})</a></label>
                              </div>
                              </td>
                            </tr>
                            <tr ng-if="category.menu.issubcat" ng-repeat="item in category.menu.childs">
                              <td><div>
                              <label><a ui-sref="itemcates({catename:'{{category.menu.ischildof.slug}}', subcates:'{{category.menu.slug}}', itemcates:'{{item.slug}}'})">{{item.name}} ({{item.productcount}})</a></label>
                              </div>
                              </td>
                            </tr>
                            <tr ng-if="category.menu.isitemcat" ng-repeat="item in category.menu.childs">
                              <td><div>
                              <label><a ui-sref="subitemcates({catename:'{{category.menu.ischildof.ischildof.slug}}', subcates:'{{category.menu.ischildof.slug}}', itemcates:'{{category.menu.slug}}', subitemcates:'{{item.slug}}'})">{{item.name}} ({{item.productcount}})</a></label>
                              </div>
                              </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel style1 arrow-right">
                    <h4 class="panel-title"><a data-toggle="collapse" href="#flight-times-filter" class="">Brand</a></h4>
                    <div id="flight-times-filter" class="panel-collapse collapsed in">
                        <div class="panel-content">
                            <div class="brand-search-cont">
                                <span class="common-sprite"></span>
                                <input class="form-control search-input" placeholder="" data-placeholder="Search Brand" type="text" ng-model="searchBrand" />
                            </div>
                            <div class="dby-checkbox"  ng-repeat="item in category.brand | filter:searchBrand">
                              <label><span title="{{item.name}}"><input type="checkbox" /> </span>{{item.name}}</label>
                            </div>
                            <!-- <a data-toggle="modal" data-target="#myModal2" href="#">more...</a> -->
                        </div>
                        <!-- end content -->
                    </div>
                </div>
                <div class="panel style1 arrow-right">
                    <h4 class="panel-title"><a data-toggle="collapse" href="#price-filter" class="">Price</a></h4>
                    <div id="price-filter" class="price-panel collapsed in">
                        <table id="ContentPlaceHolder1_Price_Filter" class="radioBttn">
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_0" type="radio" value="All" checked="checked" />
                                <label for="ContentPlaceHolder1_Price_Filter_0">All</label></td>
                            </tr>
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_1" type="radio" value="0-499" />
                                <label for="ContentPlaceHolder1_Price_Filter_1">Upto 499 (400)</label></td>
                            </tr>
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_2" type="radio" value="500-999" />
                                <label for="ContentPlaceHolder1_Price_Filter_2">500 - 999 (600)</label></td>
                            </tr>
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_3" type="radio" value="1000-1499" />
                                <label for="ContentPlaceHolder1_Price_Filter_3">1000 - 1499 (600)</label></td>
                            </tr>
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_4" type="radio" value="1500-1999" />
                                <label for="ContentPlaceHolder1_Price_Filter_4">1500 - 1999 (900)</label></td>
                            </tr>
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_5" type="radio" value="2000-2499" />
                                <label for="ContentPlaceHolder1_Price_Filter_5">2000 - 2499 (1200)</label></td>
                            </tr>
                            <tr>
                              <td><input name="pricerange" id="ContentPlaceHolder1_Price_Filter_6" type="radio" value="2500-0" />
                                <label for="ContentPlaceHolder1_Price_Filter_6">2500 - Above (1500)</label></td>
                            </tr>
                        </table>
                        <div class="range">
                            <p>Enter a price range</p>
                            <ul>
                                <li>
                                    <input placeholder="0" type="text">
                                </li>
                                <li>
                                    <input placeholder="0000" type="text">
                                </li>
                                <li>
                                    <input value="GO" type="submit">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="panel style1 arrow-right">
                <h4 class="panel-title"><a data-toggle="collapse" href="#color-filter" class="">Color</a></h4>
                <div id="color-filter" class="price-panel collapsed in">
                    <div class="panel-content">
                        <ul class="colour-list">
                            <li class="colour-listItem" ng-repeat="item in category.color" >
                                <label ng-if="item.name!=='Multi'" class="colour-label"style="background-color:{{item.value||item.name}} "><input class="colour-checkbox" value="olive" type="checkbox"></label>
                                <label ng-if="item.name==='Multi'" class="colour-label"style="background-image:url(/assets/images/multicolor.png);background-size:100%;">
                                  <input class="colour-checkbox" value="olive" type="checkbox"></label> {{item.name}}
                            </li>
                        </ul>
                      <!--  <a data-toggle="modal" data-target="#myModal2" href="#" href="#">more...</a> -->
                    </div>
                </div>
            </div>
            <div class="panel style1 arrow-right">
                <h4 class="panel-title"><a data-toggle="collapse" href="#airlines-filter" class="">Discount</a></h4>
                <div id="airlines-filter" class="panel-collapse collapsed in">
                    <div class="panel-content">
                      <table id="ContentPlaceHolder1_Discount_Filter" class="radioBttn">
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_0" type="radio"value=" All" checked="checked" />
                            <label for="ContentPlaceHolder1_Discount_Filter_0">All</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_1" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_1">80 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_2" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_2">70 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_3" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_3">60 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_4" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_4">50 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_5" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_5">40 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_6" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_6">30 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_7" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_7">20 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_8" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_8">10 % or More</label></td>
                        </tr>
                        <tr>
                          <td><input id="ContentPlaceHolder1_Discount_Filter_9" type="radio" />
                            <label for="ContentPlaceHolder1_Discount_Filter_9">Less than 10 %</label></td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
            <div class="panel style1 arrow-right">
                <h4 class="panel-title"><a data-toggle="collapse" href="#size-filter" class="">Size</a></h4>
                <div id="size-filter" class="panel-collapse collapsed in">
                    <div class="panel-content">
                        <div class="dby-checkbox" ng-repeat="item in category.size">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" value={{item._id}} />
                            {{item.name}}</label>
                        </div>
                        <!--<a data-toggle="modal" data-target="#myModal2" href="#" href="#">more...</a>-->
                    </div>
                </div>
            </div>
            <div class="panel style1 arrow-right">
                <h4 class="panel-title"><a data-toggle="collapse" class="">Material</a></h4>
                <div id="material-filter" class="panel-collapse collapsed in">
                    <div class="panel-content">
                        <div class="dby-checkbox" ng-repeat="item in category.material">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" value="{{item._id}}" /> {{item.name}}</label>
                        </div>
                        <!--<a data-toggle="modal" data-target="#myModal2" href="#" href="#">more...</a>-->
                    </div>
                </div>
            </div>
            <div class="panel style1 arrow-right">
              <!--  <h4 class="panel-title"><a data-toggle="collapse" href="#new-filter" class="">New</a></h4>
                <div id="new-filter" class="panel-collapse collapsed in">
                    <div class="panel-content">
                        <div class="dby-checkbox">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" />Silk (500)</label>
                        </div>
                        <div class="dby-checkbox">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" />The Silk Road (600)</label>
                        </div>
                        <div class="dby-checkbox">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" />Silk Producing Countries (700)</label>
                        </div>
                        <div class="dby-checkbox">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" />Cotton (852)</label>
                        </div>
                        <div class="dby-checkbox">
                          <label>
                            <input id="ContentPlaceHolder1_chkSize_Filter" type="checkbox" />Glossary of Cotton Varieties (50)</label>
                        </div>
                        <a data-toggle="modal" data-target="#myModal2" href="#" href="#">more...</a>
                    </div>
                </div>-->
            </div>
          </div>
        </div>
        <div class="right-cat col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
            <div class="right-cat-inner">
                <div class="add-banner"> <img ng-src="{{category.BannerImages}}" alt="" /> </div>
                <div class="filter-container">
                    <div class="col-sm-12 heaing-top clearfix">
                        <div class="pull-left">
                            <span>
                                <h2>{{category.paged.total}} Items Found</h2>
                            </span>
                        </div>
                        <div class="pull-right">
                            <h3 class="new-pro">New Arrival</h3>
                            <div class="short-by">
                                <label>Short by</label>
                                <select ng-model="category.sort" ng-options="item as item.label for item in category.sortparams track by item.val">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info row">
                  <div ng-repeat="product in category.pagedProducts" class="producttop_relative col-lg-3 col-md-4 col-sm-4">
                    <div class="products">
                      <a id="Product_info" ui-sref="product({purl:'{{product._id}}'})">
                        <img id="product-img-{{product._id}}" class="product-img" ng-if="product.images[0].logs.s_219" ng-src="{{product.images[0].logs.s_219}}" alt="{{product.itemname}}">
                        <img id="product-img-{{product._id}}" class="product-img" ng-if="!product.images[0].logs.s_219" ng-src="{{product.variants.images[product.color.name].s_219}}" alt="{{product.itemname}}">
                      </a>
                      <div class="product-detail">
                        <div class="quick-view">
                          <a href="#" data-toggle="modal" data-target=".quickview10" ng-click="product({purl:'{{product._id}}'})">Quick view</a>
                        </div>
                        <span class="exclusive" ng-show="{{product.brands.isexclusive || product.isexclusive}}">Exclusive</span>
                        <p class="info prod_name"><a ui-sref="product({purl:'{{product.productsurl}}'})"> {{product.itemname}} </a> </p>
                        <p class="info">
                          <a ng-show="product.discount" class="discount"> Rs.{{product.mrp| number : 0}} </a><a ng-show="product.discount" class="discount_percent"> <span  class="prodDiscount" > {{product.discount}}</span>%</a> <a ng-show="product.discount" class="price"><b>Rs. {{product.saleprice| number : 0}}</b></a><a ng-show="!product.discount" class="price"> Rs.{{product.mrp| number : 0}} </a>
                        </p>
                        </div>
                        <div>
                          <div class="item-content">
                            <div class="section"> <em> <span>Sizes</span></em>
                              <span ng-repeat="sizename in product.variants.sizes" >
                                <p> <a  required> {{sizename}}</a>  </p>
                              </span>
                            </div>
                            <ul class="colour-list">
                              <li class="colour-listItem">COLOR:</li>
                              <li  class="colour-listItem" ng-repeat="colorname in product.variants.colors">
                                <label ng-if="colorname.name!=='Multi'" ng-mouseover="category.changeImage(colorname,product.variants.images[colorname.name].s_219,product._id)" ng-mouseleave="category.restoreImage(product._id)" class="colour-label"style="background-color:{{colorname.value||colorname.name}};">
                                  <input class="colour-checkbox" value="{{colorname}}" type="checkbox">
                                </label>
                                <label ng-if="colorname.name==='Multi'" ng-mouseover="category.changeImage(colorname,product.variants.images[colorname.name].s_219,product._id)" class="colour-label" style="background-image:url('/assets/images/multicolor.png'); background-size:100%; background-repeat:norepeat;background-position: 0px 0">
                                  <input class="colour-checkbox" value="{{colorname}}" type="checkbox">
                                </label>
                              </li>

                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="item-right">
                        <div class="item-box"><a class="fa fa-heart-o"></a></div>
                        <p class="value">{{product.userlike}}</p>
                      </div>
                    </div>
                </div>
              <div class="row"><div ng-show="category.loadmoreshow"class="col-lg-10 col-lg-offset-4 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3"><button type="button" class="btn btn-danger" ng-click="category.loadProduct()">Browse More products</button></div></div>
            </div>
        </div>
    </div>

</section>
</div>
<script>
$("#sidebar").stick_in_parent();
</script>
