<div class="container-fluid"> <span id="ContentPlaceHolder1_lblMsg"></span>
  <div id="prod-detail" class="container-fluid product-detail">
    <div class="row">
      <div class="left-prod col-lg-4 col-md-4 col-sm-5">
        <div id="surround">
          <div id="slider3">
            <div class="thumbelina-but vert top"><i class="fa fa-angle-up"></i></div>
            <div class="slider-inner">
              <ul class="thumbelina">
                <li ng-repeat="prdimage in product.products.images track by $index">
                  <img class="cloudzoom-gallery" ng-src="{{prdimage.logs.s_75}}" data-cloudzoom="useZoom:'.cloudzoom', image: '{{prdimage.logs.original}}'" />
                </li>

              </ul>
            </div>
            <div class="thumbelina-but vert bottom"><i class="fa fa-angle-down"></i></div>
          </div>
          <img class="cloudzoom" alt="Cloud Zoom small image" id="zoom1" ng-src="{{product.products.images[0].logs.original}}"  data-cloudzoom="zoomSizeMode: 'image', autoInside: 800 " />
        </div>
      </div>
      <div class="right-prod col-lg-5 col-md-5 col-sm-5">
        <div class="right-prod_1">
          <div class="prod-brand-img"> </div>
          <div class="prod-brand hide"><a class="a_prod"><span>SAADGI</span></a></div>
          <div class="prod-name"><a class="font_medium"><span>{{product.products.itemname}}</span></a></div>
          <div class="prod-price" ng-if="product.products.discount>0"><a class="text_overline">Rs.<span>{{product.products.mrp}}</span></a>&nbsp;<span class="discount">&nbsp; {{product.products.discount}}%  &nbsp;</span> <a class="font_big"> <span>Rs. </span><span>{{product.products.saleprice}}</span></a> <a class="small_font">Inclusive all taxes</a> </div>
          <div class="prod-price" ng-if="product.products.discount==0">
            <a class="font_big"> <span>Rs. </span> <span>{{product.products.mrp}}</span></a> <a class="small_font">Inclusive all taxes</a>
          </div>
        </div>
        	<form>
        <div class="right-prod_2">
            <div class="product_size">
                <p class="p_size padd_bottom"><span>Choose your Size :</span></p>

                <select aria-label="ngSelected"  style="padding: 6px; width:40%;">
                  <option ng-repeat="size in product.products.variants.sizes">{{size}}</option>

                </select>

                <a class="size-link" onclick = "OnclickScroll()">Size Chart</a>
                <p class="p_size padd_bottom"> <span class="err-size" style="color:Red;"></span> </p>
            </div>
          <div class="img-Sizes">
            <p class="p_size"> Available Colors :</p>
            <a href='#'  ng-repeat="color in product.products.variants.colors "> <img id="img1" alt="" class="color_size" width="80px" height="80px" ng-mouseover="product.imageSwitch(color)"  ng-src="{{product.products.variants.images[color].s_79}}" />
            </a>
          </div>
        </div>
        <div class="right-prod_2">
          <div class="buy-cart">

            <input type="submit" value="Add to Cart" class="buy-now" ng-click="product.addToCart()"/>
			</form>
            <p class="wishtlist"> <a class="a_wish" href="#"><i class="fa fa-heart"></i> Save for later</a> </p>
            <a class="link-share pull-right hidden"><i class="fa fa-share-alt"></i>Share</a> <a class="link-share pull-right"><i class="fa fa-thumbs-up"></i>Like</a>
            <a class="link-share pull-right"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="link-share pull-right"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a class="link-share pull-right"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="right-prod_2">
          <div class="prod_validity_info">
            <ul class="valid_info">
              <li><a class="a_valid">Cash on Delivery</a></li>
              <li> <span class="a_valid">14 Days Exchange Policy</span> </li>
            </ul>
            <div class="pincode-box">
              <label style="display: block;">Check Delivery Options</label>
              <input type="text" maxlength="6" class="form-control" placeholder="Check Pincode" />
              <input type="submit" value="Check" class="btn-submit" />
              <br />
              <span class="pincode-status"></span> </div>
          </div>
          <div class="prod_validity_info borderless">
            <ul class="valid_info valid_list_none">
              <li><span class="a_valid stock"></span></li>
              <li><span class="a_valid">Standard delivery in 5-7 business days.</span></li>
            </ul>
          </div>
        </div>
        <div class="right-prod_2">
          <div class="secure-info"> <span><i class="fa fa-check-square-o"></i><b>Original</b>guarantee for all products
            at dorrby.com</span> </div>
          <div class="secure-info"> <span><i class="fa fa-check-square-o"></i><b>100% Secure payment</b> NetBanking/Wallet/Debit/Credit
            card payment</span> </div>
          <div class="secure-info"> <span><i class="fa fa-check-square-o"></i><b>Get free delivery</b>for every order above
            Rs. 499</span> </div>
        </div>
      </div>
      <div class="related-product col-lg-3 col-md-3 col-sm-2">
        <div class="tab-container box">
          <ul class="tabs full-width">
          <li class="active"><a data-toggle="tab" href="#popular-posts">Popular</a></li>
          </ul>
          <div class="tab-content product-detail">
            <div id="popular-posts" class="tab-pane fade in active">
              <div class="image-box style14">
                <!-- popular products begin-->
                <article class="box" ng-repeat="popProduct in product.popularProducts">
                  <figure><a href="#" title="">
                   <img  ng-src="{{popProduct.images[0].logs.s_79}}" alt=""/>
                  </a></figure>
                  <div class="details">
                    <h5 class="box-title"><a href="#">{{popProduct.itemname}}</a></h5>
                <p class="info align-left" ng-if="popProduct.discount>0"> <a class="discount">Rs.{{popProduct.mrp}}</a> <a class="discount_percent">{{popProduct.discount}}%</a> <a class="price"><b>Rs.{{popProduct.saleprice}}</b></a> </p>

                <p class="info align-left" ng-if="popProduct.discount==0">
                 <a class="price"><b>Rs.{{popProduct.mrp}}</b></a>
                </p>

                  </div>
                </article>
                <!-- popular products end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"> </div>
    <div class="bottom-prod row">
      <div class="col-md-6 col-sm-12">
        <p class="prod-details-heading"> Product Details</p>
        <p class="pd_content" ng-show="product.products.itemdescription"> {{product.products.itemdescription}} </p>
        <div class="bottom-prod-inner row">
          <p class="pd_content col-md-6"> <span class="brand"><b>Product Id </b></span>: {{product.products._id}} </p>
          <p class="pd_content col-md-6"> <span class="brand"><b>Brand </b></span>: {{product.products.brands.name}} </p>
          <p class="pd_content col-md-6" ng-show="product.products.itemcats.name"> <span class="brand"><b>Category </b></span>:<span> {{product.products.itemcats.name}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.itemsubcats.name"> <span class="brand"><b>Sub Category </b></span>:<span> {{product.products.itemsubcats.name}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.typecats.name"> <span class="brand"><b>Type </b></span>:<span> {{product.products.typecats.name}}</span></p>
          <p class="pd_content col-md-6"> <span class="brand"><b>Color </b></span>:<span> {{product.products.color.name}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.material.name"> <span class="brand"><b>Material </b></span>:<span> {{product.products.material.name}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.weight"> <span class="brand"><b>Weight </b></span>:<span> {{product.products.weight}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.washcare"> <span class="brand"><b>Washcare </b></span>:<span> {{product.products.washcare}}</span> </p>
          <p class="pd_content col-md-6" ng-show="product.products.type"> <b> <span class="brand">Type</span></b><span>: {{product.products.type}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.cut"> <b > <span class="brand">Cut</span></b><span>: {{product.products.cut}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.sleevetype"> <b> <span class="brand">Sleeve Type</span></b><span>: {{product.products.sleevetype}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.necktype"> <b> <span class="brand">Neck Type</span></b><span>: {{product.products.necktype}}</span></p>
          <p class="pd_content col-md-6" ng-show="product.products.pattern"> <b> <span class="brand">Pattern</span></b><span>: {{product.products.pattern}}</span></p>
          <!-- textattributes begin -->
          <p class="pd_content col-md-6" ng-show="product.products.textattributes" ng-repeat="textattr in product.products.textattributes">
            <b> <span class="brand">{{textattr.label}}</span></b>
            <span>: {{textattr.value}}</span>
          </p>
          <!-- textattributes end -->
        </div>
        <div class="bottom-prod-inner row">
          <p class="pd_content col-md-12"> <span class="brand" style="width: auto;"><b>Delivery :</b></span> <span>we assure you
            to deliver your products within 5-7 days of order with 100% guarantee on the product.</span></p>
          <p class="pd_content col-md-12"> <span class="brand" style="width: auto;"><b>Disclaimer :</b></span> <span>Display of
            the products might be differ due to lighting, digital photography, color settings
            and capabilities of computer monitors, Tabs and Mobiles. </span> </p>
        </div>
      </div>
      <div id="sizeChart2" class="col-md-6 col-sm-12">
        <p class="prod-details-heading"> Size Chart</p>
        <img ng-src="{{product.products.itemcats.sizechart.logs.original}}" class="img-responsive" alt="Size chart not availabe." /> </div>
    </div>
    <div class="bottom-prod row">
      <div class="col-md-12">
        <p class="prod-details-heading"> Related Products</p>
        <div class="image-carousel style2" data-animation="slide" data-item-width="260" data-item-margin="0">
            <ul class="slides image-box style9">
            <!-- related products begin-->
                <li ng-repeat="relProd in product.relatedProducts">
                    <a ui-sref="itemcats({catename:'{{relProd.maincats.name}}',subcates:'{{relProd.maincats.childs.name}}',itemcates:'{{relProd.maincats.childs.childs.name}}'})">
                        <div class="col-md-12"> <img class="img-responsive" alt="" ng-src="{{relProd.images[0].logs.s_219}}">
                            <p class="info prod_name"> {{relProd.itemname}} </p>
                            <p class="info" ng-if="relProd.discount>0">
                                <a class="discount">Rs. {{relProd.mrp}}</a>
                                <a class="discount_percent">&nbsp;{{relProd.discount}} %&nbsp;</a>
                                <a class="price"><b>Rs. {{relProd.saleprice}}</b></a>
                            </p>
                            <p class="info" ng-if="relProd.discount==0">
                               <a class="price"><b>Rs. {{relProd.saleprice}}</b></a>
                            </p>
                        </div>
                    </a>
                </li>
            <!-- related products end-->
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function OnclickScroll(){
    jQuery('html, body').animate({
        scrollTop: $("#sizeChart2").offset().top
    }, 1000);
}

(function($){

$(document).ready(function() {	
// Initialize the slider.
CloudZoom.quickStart({name:'.cloudzoom'});
console.log(CloudZoom.quickStart);

//CloudZoom.defaults.errorCallback = function(error){ alert(error.type); }; 

    $('#slider3').Thumbelina({
        orientation:'horizontal',
        $bwdBut:$('#slider3 .top'),
        $fwdBut:$('#slider3 .bottom')
    });
    
 });
})(jQuery);
</script>
